<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidaAdmin</servlet-name>
        <servlet-class>usuarios.ValidaAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEncuesta</servlet-name>
        <servlet-class>controlador.encuesta.CrearEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelDeAdmin</servlet-name>
        <servlet-class>controlador.PanelDeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPreguntas</servlet-name>
        <servlet-class>controlador.encuesta.AgregarPreguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContestarEncuesta</servlet-name>
        <servlet-class>controlador.encuesta.ContestarEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarPreguntasRespuestas</servlet-name>
        <servlet-class>controlador.encuesta.CargarPreguntasRespuestas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerEncuesta</servlet-name>
        <servlet-class>controlador.encuesta.VerEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarEncuesta</servlet-name>
        <servlet-class>controlador.encuesta.AdministrarEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>controlador.encuesta.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeshabilitarHabilitar</servlet-name>
        <servlet-class>controlador.encuesta.DeshabilitarHabilitar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarEncuestaPreguntas</servlet-name>
        <servlet-class>controlador.encuesta.CargarEncuestaPreguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEncuesta</servlet-name>
        <servlet-class>controlador.encuesta.EditarEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficosEncuesta</servlet-name>
        <servlet-class>controlador.encuesta.GraficosEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarAlumno</servlet-name>
        <servlet-class>controlador.alumno.AgregarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarAlumno</servlet-name>
        <servlet-class>controlador.alumno.AdministrarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarEstadoAlumno</servlet-name>
        <servlet-class>controlador.alumno.CambiarEstadoAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarAlumno</servlet-name>
        <servlet-class>controlador.alumno.EliminarAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaAdmin</servlet-name>
        <url-pattern>/ValidaAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEncuesta</servlet-name>
        <url-pattern>/CrearEncuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelDeAdmin</servlet-name>
        <url-pattern>/PanelDeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPreguntas</servlet-name>
        <url-pattern>/AgregarPreguntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContestarEncuesta</servlet-name>
        <url-pattern>/ContestarEncuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarPreguntasRespuestas</servlet-name>
        <url-pattern>/CargarPreguntasRespuestas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerEncuesta</servlet-name>
        <url-pattern>/VerEncuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarEncuesta</servlet-name>
        <url-pattern>/AdministrarEncuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeshabilitarHabilitar</servlet-name>
        <url-pattern>/DeshabilitarHabilitar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarEncuestaPreguntas</servlet-name>
        <url-pattern>/CargarEncuestaPreguntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEncuesta</servlet-name>
        <url-pattern>/EditarEncuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficosEncuesta</servlet-name>
        <url-pattern>/GraficosEncuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarAlumno</servlet-name>
        <url-pattern>/AgregarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarAlumno</servlet-name>
        <url-pattern>/AdministrarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarEstadoAlumno</servlet-name>
        <url-pattern>/CambiarEstadoAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarAlumno</servlet-name>
        <url-pattern>/EliminarAlumno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
